# umi
node_modules
.umi
.umi-production

# dist
/build
/dist

# misc
.DS_Store
.gitignore
.gitkeep
.dockerignore
.eslintignore
.eslintcache
.prettierignore
.editorconfig
.stylelintcache
.history

*.toml
*.lock
